<!doctype html>
<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <title>Banker Buddy</title>
  <script type="text/javascript" charset="utf-8">
  // Wait for Cordova to load
  //
  document.addEventListener("deviceready", onDeviceReady, false);

  // Cordova is ready
  //

  function onDeviceReady() {
	var db = window.openDatabase("BankerBuddy", "1.0", "Test DB", 3000000);
	db.transaction(CreateDatabase, errorDB, successDB);
  }
  
  function CreateDatabase(tx) {
	tx.executeSql("DROP TABLE IF EXISTS CurrentID");
	tx.executeSql("CREATE TABLE IF NOT EXISTS Users (ID INT PRIMARY KEY, Username TEXT, Pin INT, Threshold REAL, Email TEXT)");
	tx.executeSql("CREATE TABLE IF NOT EXISTS BalanceHistory (ID INT, Timestamp TEXT, Balance REAL)");
	tx.executeSql("CREATE TABLE IF NOT EXISTS Deposit (ID INT, Timestamp TEXT, Balance REAL)");
	tx.executeSql("CREATE TABLE IF NOT EXISTS Withdraw (ID INT, Timestamp TEXT, Balance REAL)");
	tx.executeSql("CREATE TABLE IF NOT EXISTS CurrentID (CurrentUser INT, ID INT)");
	tx.executeSql("INSERT INTO CurrentID VALUES(0, 0)");
  }
  
  function errorDB(error) {
	alert("Database Error : " + error);
  }
  
  function successDB() {
  }
  
  </script>

  <link rel="stylesheet" href="lib/onsen/css/onsenui.css">  
  <link rel="stylesheet" href="lib/onsen/css/onsen-css-components.css">  
  <link rel="stylesheet" href="styles/app.css"/>

  <script src="lib/onsen/js/angular/angular.js"></script>    
  <script src="lib/onsen/js/onsenui.js"></script>    
  <script src="js/jquery.min.js"></script>
  <script src="cordova.js"></script>
  <script src="js/highcharts.js"></script>
  <script src="js/modules/exporting.js"></script>

  <script>
    var module = angular.module('app', ['onsen']);
	
	module.factory('QueryService', function(){
	
		function queryDatabase($string, $col, $callBack){
			var db = window.openDatabase("BankerBuddy", "1.0", "Test DB", 3000000);
			db.transaction(queryDB, errorDB);
			var data = [];
			
			function queryDB(tx){
				tx.executeSql($string, [], querySelectSuccess, errorQ);
			}
			
			function querySelectSuccess(tx, results){
				if ($col != ""){
					for (var i = 0; i < results.rows.length; i++){
					
						if ($col == "Username"){
							data.push(results.rows.item(i).Username);
						}
						
						if ($col == "Pin"){
							data.push(results.rows.item(i).Pin);
						}
						
						if ($col == "ID"){
							data.push(results.rows.item(i).ID);
						}
					}
				}
				$callBack(data);
			}

			function errorQ(error){
				alert("Error processing SQL : " + error);
			}
	
			function errorDB(error){
				alert("Database Error: " + error);
			}
		}
		
		return{
			queryDatabase : queryDatabase
		}
	});		
	
	module.controller('loginCtrl', function($scope, QueryService){
	
		$scope.username = "";
		$scope.pin = "";
	
		$scope.validateLogin = function(){
		
			if( !$scope.username ){
				alert("Please Enter a Username.");
			}
			else if( !$scope.pin ){
				alert("Please Enter a Pin.");
			}
			else {

				QueryService.queryDatabase("SELECT Username FROM Users WHERE Username = '" + $scope.username + "'", "Username", function(uname){
					getUserID(uname);
				});

				function getUserID(uname){
					QueryService.queryDatabase("SELECT ID FROM Users WHERE Username = '" + $scope.username + "'", "ID", function(userID){

						if(uname.length == 0){
							alert("That Username does not exist.");
						}
						else {
							getPin(uname, userID);
						}
					});
				}

				function getPin(uname, userID) {
					QueryService.queryDatabase("SELECT Pin FROM Users WHERE Username = '" + $scope.username + "'", "Pin", function(pass){
						if($scope.pin != pass[0]){
							alert("That Pin is incorrect.");
						}
						else {
							pushApp(uname, userID, pass);
						}
					});
				}
				
				function pushApp(uname, userID, pass){
					QueryService.queryDatabase("UPDATE CurrentID SET ID = " + userID[0] + " WHERE CurrentUser = 0;", "", function(update){
						myNavigator.pushPage('app.html', { animation : 'fade' } );
					});
				}
			}
		}		
	});

	module.controller('createCtrl', function($scope, QueryService, $timeout){

		$scope.username = "";
		$scope.email = "";
		$scope.pin = "";
		$scope.confirmpin = "";
		$scope.balance = "";
		$scope.threshold = "";
	
		$scope.createAccount = function(){
			
			if( !$scope.username ){
				alert("Please Enter a Username.");
			}
			else if( !$scope.email ){
				alert("Please Enter an email.");
			}
			else if( !$scope.pin ){
				alert("Please Enter a Pin.");
			}
			else if( !$scope.confirmpin ){
				alert("Please Confirm Your Pin.");
			}
			else if($scope.pin != $scope.confirmpin){
				alert("Pin Does Not Match.");
			}
			else {
				QueryService.queryDatabase("SELECT Username FROM Users WHERE Username = '" + $scope.username + "'", "Username", function(uname){
					if(uname.length != 0){
						alert("Sorry.  That username is already taken.");
					}
					else {
						pushBalance();
					}				
				});	
			}
			
			function pushBalance(){		
				var newID;
				QueryService.queryDatabase("SELECT MAX(ID) AS ID FROM Users", "ID", function(maxID){
					newID = maxID[0] + 1;
					insertUser(newID);	
				});			
			}
			
			function insertUser(newID){
				QueryService.queryDatabase("INSERT INTO Users VALUES(" + newID + ", '" + $scope.username + "', " + $scope.pin + ", 0, '" + $scope.email + "')", "", function(insert){
					myNavigator.pushPage('balance.html', { animation : 'slide' } );
				});
			}
		}

		$scope.insertAccount = function(){
			if( !$scope.balance ){
				alert("Please Enter a Balance.");
			}
			else if( !$scope.threshold ){
				alert("Please Enter an Threshold.");
			}
			else {
				QueryService.queryDatabase("SELECT MAX(ID) AS ID FROM Users", "ID", function(maxID){
					updateThreshold(maxID);
				});

				function updateThreshold(maxID){
					QueryService.queryDatabase("UPDATE Users SET Threshold = " + $scope.threshold + " WHERE ID = " + maxID[0], "", function(update){
						insertBalance(maxID);
					});
				}
				
				function insertBalance(maxID){
					QueryService.queryDatabase("INSERT INTO BalanceHistory VALUES(" + maxID[0] + ", datetime('now'), " + $scope.balance + ")", "", function(insert){
						updateCurrentID(maxID);
					});
				}
				
				function updateCurrentID(maxID){
					QueryService.queryDatabase("UPDATE CurrentID SET ID = " + maxID[0] + " WHERE CurrentUser = 0", "", function(update){
						myNavigator.pushPage('app.html', { animation : 'fade' } );
					});
				}
			}
		}	
	});

	module.controller('PopulateHomeData', function($scope, QueryService){

		$scope.init = function(){
			QueryService.queryDatabase("SELECT ID FROM CurrentID WHERE CurrentUser = 0", "ID", function(IDcurrent){
				getTransactionBalance(IDcurrent);
			});
			
			function getTransactionBalance(IDcurrent){
				QueryService.queryDatabase("SELECT Timestamp, Balance AS ID FROM Deposit WHERE ID = " + IDcurrent[0] + " UNION SELECT Timestamp, Balance FROM Withdraw WHERE ID = " + IDcurrent[0] + " ORDER BY Timestamp DESC LIMIT 5", "ID", function(amount){
					getTransactionTime(IDcurrent, amount);
				});
			}
			
			function getTransactionTime(IDcurrent, amount){
				QueryService.queryDatabase("SELECT Timestamp AS ID, Balance FROM Deposit WHERE ID = " + IDcurrent[0] + " UNION SELECT Timestamp, Balance FROM Withdraw WHERE ID = " + IDcurrent[0] + " ORDER BY Timestamp DESC LIMIT 5", "ID", function(time){
					getBalance(IDcurrent, amount, time);
				});
			}
			
			function getBalance(IDcurrent, amount, time){
				QueryService.queryDatabase("SELECT Balance AS ID FROM BalanceHistory WHERE ID = " + IDcurrent[0] + " ORDER BY Timestamp DESC LIMIT 1", "ID", function(bal){
						
					$scope.rows = [];
					for(var i = 0; i < amount.length; i++){
						$scope.rows.push({
							'Date': String(time[i]),
							'Amount': String(amount[i])});
					}
						
					$scope.balance = bal[0];
					$scope.$apply();
						
					$('#container').highcharts({
					title: {
						text: 'Balance History',
						x: -20 //center
					},
					xAxis: {
						categories: ['9/15', '9/22', '9/29', '10/6', '10/13', '10/20',
							'10/27', '11/3']
					},
					yAxis: {
						title: {
						text: 'Balance ($)'
					},
					plotLines: [{
						value: 0,
						width: 1,
						color: '#808080'
					}]
					},
					tooltip: {
						valuePrefix: '$'
					},
					series: [{
						name: 'David',
						data: [27.0, 26.9, 29.5, 34.5, 38.2, 41.5, 45.2, 50.0]
					}, {
						name: 'Threshold',
						data: [30, 30, 30, 30, 30, 30, 30, 30]
					}]
					});
				});
			}
		}
	});
	
	module.controller('DepWitCtrl', function($scope, QueryService, $timeout){
	
		var depAmount = 0.0;
		var witAmount = 0.0;
		$scope.inputAmount = [];
		
		$scope.deposit20 = function(){		
			$scope.inputAmount = [];
			$scope.amount = {'Amount': '20'};
			depAmount = 20.0;
			modal.show();
		}
		
		$scope.deposit50 = function(){		
			$scope.inputAmount = [];
			$scope.amount = {'Amount': '50'};
			depAmount = 50.0;
			modal.show();
		}
		
		$scope.deposit100 = function(){	
			$scope.inputAmount = [];		
			$scope.amount = {'Amount': '100'};
			depAmount = 100.0;
			modal.show();
		}
		
		$scope.otherAmount = function(){
			$scope.inputAmount.push({'value' : ''});
		}
		
		$scope.otherDeposit = function(){
			if ($scope.inputAmount[0].value){
				depAmount = parseFloat($scope.inputAmount[0].value);
				$scope.amount = {'Amount': String(depAmount)};
				$scope.inputAmount = [];
				modal.show();
			}
		}
		
		$scope.depositYes = function(){
			deposit(depAmount);
		}
		
		function deposit($amount){
			QueryService.queryDatabase("SELECT ID FROM CurrentID WHERE CurrentUser = 0", "ID", function(IDcurrent){
				insertAmount(IDcurrent);
			});		
			
			function insertAmount(IDcurrent){
				QueryService.queryDatabase("INSERT INTO Deposit VALUES(" + IDcurrent[0] + ", datetime('now')," + $amount +")", "", function(insert){
					updateBalance(IDcurrent);
				});
			}
			
			function updateBalance(IDcurrent){
				QueryService.queryDatabase("SELECT Balance AS ID FROM BalanceHistory WHERE ID = " + IDcurrent[0] + " ORDER BY Timestamp DESC LIMIT 1", "ID", function(currentBalance){
					var newBal = currentBalance[0] + $amount;
					insertBalance(IDcurrent, newBal);
				});
			}
			
			function insertBalance(IDcurrent, newBal){
				QueryService.queryDatabase("INSERT INTO BalanceHistory VALUES(" + IDcurrent[0] + ", datetime('now'), " + newBal + ")", "", function(insert){
					myNavigator.pushPage('app.html', { animation : 'fade' } );
				});
			}
		}
		
		$scope.withdraw20 = function(){		
			$scope.inputAmount = [];
			$scope.amount = {'Amount': '20'};
			witAmount = -20.0;
			modal.show();
		}
		
		$scope.withdraw50 = function(){		
			$scope.inputAmount = [];
			$scope.amount = {'Amount': '50'};
			witAmount = -50.0;
			modal.show();
		}
		
		$scope.withdraw100 = function(){	
			$scope.inputAmount = [];		
			$scope.amount = {'Amount': '100'};
			witAmount = -100.0;
			modal.show();
		}
		
		$scope.otherWithdraw = function(){
			if ($scope.inputAmount[0].value){
				witAmount = parseFloat($scope.inputAmount[0].value);
				$scope.amount = {'Amount': String(witAmount)};
				witAmount = witAmount * -1.0;
				$scope.inputAmount = [];
				modal.show();
			}
		}
		
		$scope.withdrawYes = function(){
			withdraw(witAmount);
		}
		
		function withdraw($amount){
			QueryService.queryDatabase("SELECT ID FROM CurrentID WHERE CurrentUser = 0", "ID", function(IDcurrent){
				insertAmount(IDcurrent);
			});		
			
			function insertAmount(IDcurrent){
				QueryService.queryDatabase("INSERT INTO Withdraw VALUES(" + IDcurrent[0] + ", datetime('now')," + $amount +")", "", function(insert){
					updateBalance(IDcurrent);
				});
			}
			
			function updateBalance(IDcurrent){
				QueryService.queryDatabase("SELECT Balance AS ID FROM BalanceHistory WHERE ID = " + IDcurrent[0] + " ORDER BY Timestamp DESC LIMIT 1", "ID", function(currentBalance){
					var newBal = currentBalance[0] + $amount;
					insertBalance(IDcurrent, newBal);
				});
			}
			
			function insertBalance(IDcurrent, newBal){
				QueryService.queryDatabase("INSERT INTO BalanceHistory VALUES(" + IDcurrent[0] + ", datetime('now'), " + newBal + ")", "", function(insert){
					myNavigator.pushPage('app.html', { animation : 'fade' } );
				});
			}		
		}
	});
  </script>


  <style>
    .page--menu-page__content {
      background-color: #333;
      color: white;
    }
	
	.page--login__content {
		background-color: #d3d3d3;
	}

    .menu-close,
    .menu-close > .toolbar-button {
      color: #999;
    }

    .menu-list,
    .menu-item:first-child,
    .menu-item:last-child,
    .menu-item {
      background-color: transparent;
      background-image: none !important;
      border-color: transparent;
      color: #fff;
    }

    .menu-item {
      padding: 0 0 0 20px;
      line-height: 52px;
      height: 52px;
      text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px;
    }

    .menu-item:active {
      background-color: rgba(255, 255, 255, 0.1);
    }

    .menu-notification {
      display: inline-block;
      margin-top: 12px;
      font-size: 14px;
      height: 16px;
      line-height: 16px;
      min-width: 16px;
      font-weight: 600;
    }

    .bottom-menu-list,
    .bottom-menu-item:first-child,
    .bottom-menu-item:last-child,
    .bottom-menu-item {
      border-color: #393939;
      background-color: transparent;
      background-image: none !important;
      color: #ccc;
    }

    .bottom-menu-item:active {
      background-color: rgba(255, 255, 255, 0.1);
    }
  </style>
  
</head>

<body> 

<ons-navigator title="Navigator" var="myNavigator">

	<ons-page modifier="login" style="background-color:#1AAF5D;">
		<ons-col align="center">
			<div ng-controller="loginCtrl">
				<img src="img\icon.png" style="position:relative; width: 50%; margin-top:10%">
				<div style="margin-top:5%;">
					<ons-icon icon="ion-android-social-user"></ons-icon>
					<input type="text" class="text-input" placeholder="Username" ng-model="username" style="padding: 10px;
  					  border: solid 3px #fff;
  					  box-shadow: inset 3px 3px 6px 0 #707070;
  					  transition: box-shadow 0.3s;
  					  height: 50px;
  					  font-size: 100%;">
				</div>
				<div style="margin-top:2%;">
					<ons-icon icon="ion-pound"></ons-icon>
					<input type="tel"  class="text-input" placeholder="Pin" ng-model="pin" style="padding: 10px;
  					  border: solid 3px #fff;
  					  box-shadow: inset 3px 3px 6px 0 #707070;
  					  transition: box-shadow 0.3s;
  					  height:50px;
  					  font-size: 100%;">
				</div> 
				<br>
			
				<ons-button modifier="cta" ng-click="validateLogin()">
					Sign In
				</ons-button>
			</div>
		</ons-col>
		<hr style="width:75%;">
		<ons-col align="center">
			<ons-button modifier="" onclick="myNavigator.pushPage('create.html', { animation : 'fade' } )" style="padding-top:10px;">
			Create Account
			</ons-button>
		</ons-col>
	</ons-page>		
		
</ons-navigator>
	<ons-template id="create.html">
		<ons-page style="background-color:#1AAF5D;">
			<div style="" ng-controller="createCtrl">
				<ons-col align="center">
					<img src="img\icon.png" style="width: 50%; margin-top:10%">
					<div style="margin-top:5%">
						<ons-icon icon="ion-android-social-user"></ons-icon>
						<input type="text" class="text-input" placeholder="Username" ng-model="username" style="padding: 10px;
  					  border: solid 3px #fff;
  					  box-shadow: inset 3px 3px 6px 0 #707070;
  					  transition: box-shadow 0.3s;
  					  height:50px;
  					  font-size: 100%;">
					</div>
					<div style="margin-top:1%">
						<ons-icon icon="ion-email"></ons-icon>
						<input type="text" class="text-input" placeholder="Email" ng-model="email" style="padding: 10px;
  					  border: solid 3px #fff;
  					  box-shadow: inset 3px 3px 6px 0 #707070;
  					  transition: box-shadow 0.3s;
  					  height:50px;
  					  font-size: 100%;">
					</div>  
					<div style="margin-top:1%">
						<ons-icon icon="ion-pound"></ons-icon>
						<input type="tel" class="text-input" placeholder="Pin" ng-model="pin" style="padding: 10px;
  					  border: solid 3px #fff;
  					  box-shadow: inset 3px 3px 6px 0 #707070;
  					  transition: box-shadow 0.3s;
  					  height:50px;
  					  font-size: 100%;">
					</div> 
					<div style="margin-top:1%">
						<ons-icon icon="ion-pound"></ons-icon>
						<input type="tel" class="text-input" placeholder="Confirm Pin" ng-model="confirmpin" style="padding: 10px;
  					  border: solid 3px #fff;
  					  box-shadow: inset 3px 3px 6px 0 #707070;
  					  transition: box-shadow 0.3s;
  					  height:50px;
  					  font-size: 100%;">
					</div> 
					<br>
					<ons-button modifier="" ng-click="createAccount()">Continue
						<!-- <ons-icon icon="ion-chevron-right" size="40px"></ons-icon> -->
					</ons-button>
				</ons-col>
			</div>
		</ons-page>	
	</ons-template>

	<ons-template id="balance.html">
		<ons-page>
			<div style="margin-top:6%; margin-left:auto; margin-right:auto; text-align: center; height:320px; width:90%" ng-controller="createCtrl">
				<img src="img\icon1.png" style="width: 50%; margin-top:10%">
				<div style="margin-top:10%">
					<ons-icon icon="ion-social-usd-outline"></ons-icon>
					<input type="tel" class="text-input" placeholder="Balance" ng-model="balance">
				</div> 
				<div style="margin-top:1%">
					<ons-icon icon="ion-stats-bars"></ons-icon>
					<input type="tel" class="text-input" placeholder="Threshold" ng-model="threshold">
				</div> 
				<br>
				<ons-button modifier="outline" ng-click="insertAccount()">
					<ons-icon icon="ion-android-add" size="40px"></ons-icon>
				</ons-button>
			</div>
		</ons-page>	
	</ons-template>
	
	<ons-template id="app.html">
		<ons-sliding-menu
			menu-page="menu.html" main-page="page0.html" side="left"
			var="menu" type="reveal" max-slide-distance="260px" swipable="true">
		</ons-sliding-menu>
    </ons-template>
	
	<ons-template id="menu.html">
		<ons-page modifier="menu-page">
			<ons-toolbar modifier="transparent"></ons-toolbar>

			<ons-list class="menu-list">
				<ons-list-item class="menu-item" ng-click="menu.setMainPage('page0.html', {closeMenu: true})">
					<ons-icon icon="ion-home"></ons-icon>
					Home
				</ons-list-item>
				
			<ons-list class="menu-list">
				<ons-list-item class="menu-item" ng-click="menu.setMainPage('page1.html', {closeMenu: true})">
					<ons-icon icon="ion-plus"></ons-icon>
					Deposit
				</ons-list-item>

				<ons-list-item class="menu-item" ng-click="menu.setMainPage('page2.html', {closeMenu: true})">
					<ons-icon icon="ion-minus"></ons-icon>
					Withdraw
				</ons-list-item>

				<ons-list-item class="menu-item" ng-click="menu.setMainPage('page3.html', {closeMenu: true})">
					<ons-icon icon="ion-arrow-graph-up-right"></ons-icon>
					Visualization
				</ons-list-item>
			</ons-list>

		  <br>

			<ons-list class="bottom-menu-list">
				<ons-list-item class="bottom-menu-item" ng-click="menu.setMainPage('page4.html', {closeMenu: true})">
				Settings
				</ons-list-item>

				<ons-list-item class="bottom-menu-item" ng-click="menu.setMainPage('page5.html', {closeMenu: true})">
				About `A
				</ons-list-item>

				<ons-list-item class="bottom-menu-item" ng-click="menu.setMainPage('page6.html', {closeMenu: true})">
				Send feedback
				</ons-list-item>
			</ons-list>
		</ons-page>
	</ons-template>

	<ons-template id="page0.html">
		<ons-page>
			<ons-toolbar>
				<div class="left">
				<ons-toolbar-button ng-click="menu.toggle()">
					<ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
				</ons-toolbar-button>
				</div>
				<div class="center">Home</div>
			</ons-toolbar>

			<ons-row style="margin-top: 10px;">
				<ons-col align="center">
					<div ng-controller="PopulateHomeData" data-ng-init="init()">
						<div>
						<table style="border: 1px solid black">
						<thead style="background-color: LightBlue">
							<tr>
								<th width="200">Date</th>
								<th width="200">Amount</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="rowContent in rows">
								<td>{{rowContent.Date}}</td>
								<td>{{rowContent.Amount}}</td>
							</tr>
						</tbody>
						</table>   
						</div>
						<div style="font-size: 36px"><p><b>Balance:  ${{balance}}</b></p></div>
						<div id="container" style="min-width: 100%; height: 225px"></div>
					</div>
				</ons-col>
			</ons-row>
		</ons-page>
	</ons-template>


	<ons-template id="page1.html">
		<ons-page id="page1">
			<ons-toolbar>
				<div class="left">
				<ons-toolbar-button ng-click="menu.toggle()">
					<ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
				</ons-toolbar-button>
				</div>
				<div class="center">Deposit</div>
			</ons-toolbar>
			
			<div ng-controller="DepWitCtrl">
				<ons-modal var="modal">
					<p style="margin-bottom: 50px; font-size: 16px"><b>Are you sure you want to deposit ${{amount.Amount}}?</b></p>
					<ons-button style="margin-right: 30px;" modifier="normal" ng-click="modal.hide(); depositYes();">
						Yes
					</ons-button>
					<ons-button style="" modifier="normal" ng-click="modal.hide()">
						No
					</ons-button>
				</ons-modal>
				
				<ons-row style="margin-top: 60px;">
					<ons-col align="center">
						<ons-button style="margin-right: 10px; width: 80px; height: 80px;" modifier="outline" ng-click="deposit20()">
						<p style="font-size: 22px"><b>$20</b></p>
						</ons-button>
						<ons-button style="margin-right: 10px; width: 80px; height: 80px;" modifier="outline" ng-click="deposit50()">
						<p style="font-size: 22px"><b>$50</b></p>
						</ons-button>
						<ons-button style="width: 80px; height: 80px;" modifier="outline" ng-click="deposit100()">
						<p style="font-size: 22px"><b>$100</b></p>
						</ons-button>
					</ons-col>
				</ons-row>
				<ons-row style="margin-top: 50px;">
					<ons-col align="center">
						<ons-button style="width: 60%;" modifier="outline" ng-click="otherAmount()">
						<p style="font-size: 20px"><b>Other Amount</b></p>
						</ons-button>
						
						<div ng-repeat="input in inputAmount">
						<p style="margin-top: 50px; font-size: 18px"><b>Please enter the amount to deposit.</b></p>
							<div style = "margin-top: 15px"><input type="tel" ng-model="input.value"></div>
							<div style = "margin-top: 5px">
								<ons-button modifier="outline" ng-click="otherDeposit()">
								<p style="font-size: 18px"><b>Deposit</b></p>
								</ons-button>
							</div>
						</div>
					</ons-col>
				</ons-row>
			</div>
		</ons-page>
	</ons-template>

	<ons-template id="page2.html">
		<ons-page id="page2">
			<ons-toolbar>
				<div class="left">
				<ons-toolbar-button ng-click="menu.toggle()">
					<ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
				</ons-toolbar-button>
				</div>
				<div class="center">Withdraw</div>
			</ons-toolbar>


			<div ng-controller="DepWitCtrl">
				<ons-modal var="modal">
					<p style="margin-bottom: 50px; font-size: 16px"><b>Are you sure you want to withdraw ${{amount.Amount}}?</b></p>
					<ons-button style="margin-right: 30px;" modifier="normal" ng-click="modal.hide(); withdrawYes();">
						Yes
					</ons-button>
					<ons-button style="" modifier="normal" ng-click="modal.hide()">
						No
					</ons-button>
				</ons-modal>
				
				<ons-row style="margin-top: 60px;">
					<ons-col align="center">
						<ons-button style="margin-right: 10px; width: 80px; height: 80px;" modifier="outline" ng-click="withdraw20()">
						<p style="font-size: 22px"><b>$20</b></p>
						</ons-button>
						<ons-button style="margin-right: 10px; width: 80px; height: 80px;" modifier="outline" ng-click="withdraw50()">
						<p style="font-size: 22px"><b>$50</b></p>
						</ons-button>
						<ons-button style="width: 80px; height: 80px;" modifier="outline" ng-click="withdraw100()">
						<p style="font-size: 22px"><b>$100</b></p>
						</ons-button>
					</ons-col>
				</ons-row>
				<ons-row style="margin-top: 50px;">
					<ons-col align="center">
						<ons-button style="width: 60%;" modifier="outline" ng-click="otherAmount()">
						<p style="font-size: 20px"><b>Other Amount</b></p>
						</ons-button>
						
						<div ng-repeat="input in inputAmount">
						<p style="margin-top: 50px; font-size: 16px"><b>Please enter the amount to withdraw.</b></p>
							<div style = "margin-top: 15px"><input type="tel" ng-model="input.value"></div>
							<div style = "margin-top: 5px">
								<ons-button modifier="outline" ng-click="otherWithdraw()">
								<p style="font-size: 18px"><b>Withdraw</b></p>
								</ons-button>
							</div>
						</div>
					</ons-col>
				</ons-row>
			</div>
		</ons-page>
	</ons-template>
	 
	<ons-template id="page3.html">
		<ons-page id="page3">
			<ons-toolbar>
				<div class="left">
				<ons-toolbar-button ng-click="menu.toggle()">
					<ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
				</ons-toolbar-button>
				</div>
				<div class="center">Visualization</div>
			</ons-toolbar>

			<ons-row style="margin-top: 100px;">
				<ons-col align="center">
					<ons-button modifier="light" ng-click="menu.toggleMenu()">
					Toggle Menu
					</ons-button>
					<p style="color: #999; font-size: 13px;">Click "Toggle Menu" to close/open menu,<br> You can also swipe the page left/right.</p>
				</ons-col>
			</ons-row>
		</ons-page>
	 </ons-template>

	<ons-template id="page4.html">
		<ons-page id="page4">
			<ons-toolbar>
				<div class="left">
				<ons-toolbar-button ng-click="menu.toggle()">
					<ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
				</ons-toolbar-button>
				</div>
				<div class="center">Settings</div>
			</ons-toolbar>

			<ons-row style="margin-top: 100px;">
				<ons-col align="center">
					<ons-button modifier="light" ng-click="menu.toggleMenu()">
					Toggle Menu
					</ons-button>
					<p style="color: #999; font-size: 13px;">Click "Toggle Menu" to close/open menu,<br> You can also swipe the page left/right.</p>
				</ons-col>
			</ons-row>
		</ons-page>
	</ons-template>

	<ons-template id="page5.html">
		<ons-page id="page5">
			<ons-toolbar>
				<div class="left">
				<ons-toolbar-button ng-click="menu.toggle()">
					<ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
				</ons-toolbar-button>
				</div>
				<div class="center">About `A</div>
			</ons-toolbar>
			
			<!-- modal for David -->
			<ons-modal var="modal">
			  <ons-icon icon="ion-loading-c" spin="true"></ons-icon>
			  <br><br>
			  David works as a ___. He likes Papa Johns Pizza.
			</ons-modal>
			<!--  end of modal for David-->
			
			<ons-row style="margin-top: 20px;">
				<p>When we aren't making improvements to this project we are at work.</p>
				<ons-col align="center">
			        <ul class="list">
						<li class="list__header">
							Developers
						</li>
						<li class="list__item">
							David
							<textarea class="textarea textarea--transparent" style="width:100%;height:50px;margin-top:4px;" placeholder="Works in _. Recently found out he likes jalapeños on his pizza."></textarea>
						</li>
						<li class="list__item">
							Angel
							<textarea class="textarea textarea--transparent" style="width:100%;height:50px;margin-top:4px;" placeholder="Works in the big data realm. Recently introduced David to the wonders of jalapeños on pizza."></textarea>
						</li>
					</ul>
			        <ul class="list">
						<li class="list__header">
							Documenters
						</li>
						<li class="list__item">
							Anthony
							<textarea class="textarea textarea--transparent" style="width:100%;height:50px;margin-top:4px;" placeholder="Works in _. Recently _."></textarea>
						</li>
						<li class="list__item">
							Matias
							<textarea class="textarea textarea--transparent" style="width:100%;height:50px;margin-top:4px;" placeholder="Makes dreams come true when he goes to work. Recently _."></textarea>

						</li>
					</ul>
					<ul class="list">
						<li class="list__header">
							Tester
						</li>
						<li class="list__item">
							Matt
							<textarea class="textarea textarea--transparent" style="width:100%;height:50px;margin-top:4px;" placeholder="Works in the computer lab. Recently _."></textarea>
						</li>

					</ul>

				</ons-col>
			</ons-row>
		</ons-page>
	</ons-template>

	<ons-template id="page6.html">
		<ons-page id="page6">
			<ons-toolbar>
				<div class="left">
				<ons-toolbar-button ng-click="menu.toggle()">
					<ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
				</ons-toolbar-button>
				</div>
				<div class="center">Send Feedback</div>
			</ons-toolbar>

			<ons-row style="margin-top: 100px;">
				<ons-col align="center">
					<ons-button modifier="light" ng-click="menu.toggleMenu()">
					Toggle Menu
					</ons-button>
					<p style="color: #999; font-size: 13px;">Click "Toggle Menu" to close/open menu,<br> You can also swipe the page left/right.</p>
				</ons-col>
			</ons-row>
		</ons-page>
	</ons-template

</body>
</html>
