<!doctype html>
<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <title>Banker Buddy</title>
  <script type="text/javascript" charset="utf-8">
  // Wait for Cordova to load
  //
  document.addEventListener("deviceready", onDeviceReady, false);
 

  // Cordova is ready
  //

  function onDeviceReady() {
	var db = window.openDatabase("BankerBuddy", "1.0", "Test DB", 3000000);
	db.transaction(CreateDatabase, errorDB, successDB);
  }

  
  function CreateDatabase(tx) {
	tx.executeSql("DROP TABLE IF EXISTS CurrentID");
	tx.executeSql("CREATE TABLE IF NOT EXISTS Users (ID INT PRIMARY KEY, Username TEXT, Pin INT, Threshold REAL, Email TEXT, EmailNotification INT, PushNotification INT)");
	tx.executeSql("CREATE TABLE IF NOT EXISTS BalanceHistory (ID INT, Timestamp TEXT, Balance REAL)");
	tx.executeSql("CREATE TABLE IF NOT EXISTS Deposit (ID INT, Timestamp TEXT, Balance REAL)");
	tx.executeSql("CREATE TABLE IF NOT EXISTS Withdraw (ID INT, Timestamp TEXT, Balance REAL)");
	tx.executeSql("CREATE TABLE IF NOT EXISTS CurrentID (CurrentUser INT, ID INT)");
	tx.executeSql("INSERT INTO CurrentID VALUES(0, 0)");
  }
  
  function errorDB(error) {
	alert("Database Error : " + error);
  }
  
  function successDB() {
  }
  
  </script>

  <link rel="stylesheet" href="lib/onsen/css/onsenui.css">  
  <link rel="stylesheet" href="styles/onsen-css-components.css">  
  <link rel="stylesheet" href="styles/app.css">  

  <script src="lib/onsen/js/angular/angular.js"></script>    
  <script src="lib/onsen/js/onsenui.js"></script>    
  <script src="js/jquery.min.js"></script>
  <script src="cordova.js"></script>
  <script src="js/highcharts.js"></script>
  <script src="js/modules/exporting.js"></script>
  <script src="js/modules/heatmap.js"></script>
 

  <script>
    var module = angular.module('app', ['onsen']);
	
	module.factory('QueryService', function(){
	
		function queryDatabase($string, $col, $callBack){
			var db = window.openDatabase("BankerBuddy", "1.0", "Test DB", 3000000);
			db.transaction(queryDB, errorDB);
			var data = [];
			
			function queryDB(tx){
				tx.executeSql($string, [], querySelectSuccess, errorQ);
			}
			
			function querySelectSuccess(tx, results){
				if ($col != ""){
					for (var i = 0; i < results.rows.length; i++){
					
						if ($col == "Username"){
							data.push(results.rows.item(i).Username);
						}
						
						if ($col == "Pin"){
							data.push(results.rows.item(i).Pin);
						}
						
						if ($col == "ID"){
							data.push(results.rows.item(i).ID);
						}
					}
				}
				$callBack(data);
			}

			function errorQ(error){
				alert("Error processing SQL : " + error);
				alert($string);
			}
	
			function errorDB(error){
				alert("Database Error: " + error);
			}
		}
		
		return{
			queryDatabase : queryDatabase
		}
	});		
	
	module.controller('loginCtrl', function($scope, QueryService){
	
		$scope.username = "";
		$scope.pin = "";
	
		$scope.validateLogin = function(){
		
			if( !$scope.username ){
				alert("Please Enter a Username.");
			}
			else if( !$scope.pin ){
				alert("Please Enter a Pin.");
			}
			else {

				QueryService.queryDatabase("SELECT Username FROM Users WHERE Username = '" + $scope.username + "'", "Username", function(uname){
					getUserID(uname);
				});

				function getUserID(uname){
					QueryService.queryDatabase("SELECT ID FROM Users WHERE Username = '" + $scope.username + "'", "ID", function(userID){

						if(uname.length == 0){
							alert("That Username does not exist.");
						}
						else {
							getPin(uname, userID);
						}
					});
				}

				function getPin(uname, userID) {
					QueryService.queryDatabase("SELECT Pin FROM Users WHERE Username = '" + $scope.username + "'", "Pin", function(pass){
						if($scope.pin != pass[0]){
							alert("That Pin is incorrect.");
						}
						else {
							pushApp(uname, userID, pass);
						}
					});
				}
				
				function pushApp(uname, userID, pass){
					QueryService.queryDatabase("UPDATE CurrentID SET ID = " + userID[0] + " WHERE CurrentUser = 0;", "", function(update){
						myNavigator.pushPage('app.html', { animation : 'fade' } );
					});
				}
			}
		}		
	});

	module.controller('createCtrl', function($scope, QueryService, $timeout){

		$scope.username = "";
		$scope.email = "";
		$scope.pin = "";
		$scope.confirmpin = "";
		$scope.balance = "";
		$scope.threshold = "";
	
		$scope.createAccount = function(){
			
			if( !$scope.username ){
				alert("Please Enter a Username.");
			}
			else if( !$scope.email ){
				alert("Please Enter an email.");
			}
			else if( !$scope.pin ){
				alert("Please Enter a Pin.");
			}
			else if( !$scope.confirmpin ){
				alert("Please Confirm Your Pin.");
			}
			else if($scope.pin != $scope.confirmpin){
				alert("Pin Does Not Match.");
			}
			else {
				QueryService.queryDatabase("SELECT Username FROM Users WHERE Username = '" + $scope.username + "'", "Username", function(uname){
					if(uname.length != 0){
						alert("Sorry.  That username is already taken.");
					}
					else {
						pushBalance();
					}				
				});	
			}
			
			function pushBalance(){		
				var newID;
				QueryService.queryDatabase("SELECT MAX(ID) AS ID FROM Users", "ID", function(maxID){
					newID = maxID[0] + 1;
					insertUser(newID);	
				});			
			}
			
			function insertUser(newID){
				QueryService.queryDatabase("INSERT INTO Users VALUES(" + newID + ", '" + $scope.username + "', " + $scope.pin + ", 0, '" + $scope.email + "', 1, 1)", "", function(insert){
					myNavigator.pushPage('balance.html', { animation : 'slide' } );
				});
			}
		}

		$scope.insertAccount = function(){
			if( !$scope.balance ){
				alert("Please Enter a Balance.");
			}
			else if( !$scope.threshold ){
				alert("Please Enter an Threshold.");
			}
			else {
				QueryService.queryDatabase("SELECT MAX(ID) AS ID FROM Users", "ID", function(maxID){
					updateThreshold(maxID);
				});

				function updateThreshold(maxID){
					QueryService.queryDatabase("UPDATE Users SET Threshold = " + $scope.threshold + " WHERE ID = " + maxID[0], "", function(update){
						insertBalance(maxID);
					});
				}
				
				function insertBalance(maxID){
					QueryService.queryDatabase("INSERT INTO BalanceHistory VALUES(" + maxID[0] + ", datetime('now'), " + $scope.balance + ")", "", function(insert){
						updateCurrentID(maxID);
					});
				}
				
				function updateCurrentID(maxID){
					QueryService.queryDatabase("UPDATE CurrentID SET ID = " + maxID[0] + " WHERE CurrentUser = 0", "", function(update){
						myNavigator.pushPage('app.html', { animation : 'fade' } );
					});
				}
			}
		}	
	});

	module.controller('PopulateHomeData', function($scope, QueryService){

		$scope.init = function(){
			$scope.balColor = {"color":"black"};
			QueryService.queryDatabase("SELECT ID FROM CurrentID WHERE CurrentUser = 0", "ID", function(IDcurrent){
				getTransactionBalance(IDcurrent);
			});
			
			function getTransactionBalance(IDcurrent){
				QueryService.queryDatabase("SELECT Timestamp, Balance AS ID FROM Deposit WHERE ID = " + IDcurrent[0] + " UNION SELECT Timestamp, Balance FROM Withdraw WHERE ID = " + IDcurrent[0] + " ORDER BY Timestamp DESC LIMIT 5", "ID", function(amount){
					getTransactionTime(IDcurrent, amount);
				});
			}
			
			function getTransactionTime(IDcurrent, amount){
				QueryService.queryDatabase("SELECT Timestamp AS ID, Balance FROM Deposit WHERE ID = " + IDcurrent[0] + " UNION SELECT Timestamp AS ID, Balance FROM Withdraw WHERE ID = " + IDcurrent[0] + " ORDER BY Timestamp DESC LIMIT 5", "ID", function(time){
					getBalance(IDcurrent, amount, time);
				});
			}
			
			function getBalance(IDcurrent, amount, time){
				QueryService.queryDatabase("SELECT Balance AS ID FROM BalanceHistory WHERE ID = " + IDcurrent[0] + " ORDER BY Timestamp DESC LIMIT 8", "ID", function(bal){
						
					$scope.rows = [];
					for(var i = 0; i < amount.length; i++){
						date = time[i].substring(5,7) + "/" + time[i].substring(8, 10) + "/" + time[i].substring(0,4);
						$scope.rows.push({
							'Date':  date,
							'Amount': String(parseFloat(Math.round(amount[i] * 100) / 100).toFixed(2))});
					}
				
					$scope.balance = parseFloat(Math.round(bal[0] * 100) / 100).toFixed(2);
					getThreshold(IDcurrent, bal);
				});				
			}
			
			function getThreshold(IDcurrent, bal){
			
				QueryService.queryDatabase("SELECT Threshold AS ID FROM Users WHERE ID = " + IDcurrent[0], "ID", function(threshold){
					if (bal[0] < threshold[0]){
						$scope.balColor = {"color":"red"};
					}
					getUser(IDcurrent, bal, threshold);
				});	
			}
			
			function getUser(IDcurrent, bal, threshold){
				QueryService.queryDatabase("SELECT Username FROM Users WHERE ID = " + IDcurrent[0], "Username", function(user){
					populateGraph(IDcurrent, bal, threshold, user);
				});	
			}
			
			function populateGraph(IDcurrent, bal, threshold, user){	
				bal.reverse();
				for(var i = 1; i < bal.length; i++){
					threshold.push(threshold[0]);
				}
				
				QueryService.queryDatabase("SELECT strftime('%m/%d', Timestamp) AS ID FROM BalanceHistory WHERE ID = " + IDcurrent[0] + " ORDER BY Timestamp DESC LIMIT 8", "ID", function(time){
				
					time.reverse();
					$('#container').highcharts({
					title: {
						text: 'Balance History',
						x: -20 //center
					},
					xAxis: {
						categories: time
					},
					yAxis: {
						title: {
						text: 'Balance ($)'
					},
					plotLines: [{
						value: 0,
						width: 1,
						color: '#808080'
					}]
					},
					tooltip: {
						valuePrefix: '$'
					},
					series: [{
						name: user[0],
						data: bal
					}, {
						name: 'Threshold',
						data: threshold
					}],
					exporting: {
						enabled: false
					}
					});
				});	
				$scope.$apply();
			}	
		}
	});
	
	module.controller('DepWitCtrl', function($scope, QueryService, $timeout){
	
		var depAmount = 0.0;
		var witAmount = 0.0;
		$scope.inputAmount = [];
		
		$scope.deposit20 = function(){		
			$scope.inputAmount = [];
			$scope.amount = {'Amount': '20'};
			depAmount = 20.0;
			modal.show();
		}
		
		$scope.deposit50 = function(){		
			$scope.inputAmount = [];
			$scope.amount = {'Amount': '50'};
			depAmount = 50.0;
			modal.show();
		}
		
		$scope.deposit100 = function(){	
			$scope.inputAmount = [];		
			$scope.amount = {'Amount': '100'};
			depAmount = 100.0;
			modal.show();
		}
		
		$scope.otherAmount = function(){
			$scope.inputAmount.push({'value' : ''});
		}
		
		$scope.otherDeposit = function(){
			if ($scope.inputAmount[0].value){
				depAmount = parseFloat($scope.inputAmount[0].value);
				$scope.amount = {'Amount': String(depAmount)};
				$scope.inputAmount = [];
				modal.show();
			}
		}
		
		$scope.depositYes = function(){
			deposit(depAmount);
		}
		
		function deposit($amount){
			QueryService.queryDatabase("SELECT ID FROM CurrentID WHERE CurrentUser = 0", "ID", function(IDcurrent){
				insertAmount(IDcurrent);
			});		
			
			function insertAmount(IDcurrent){
				QueryService.queryDatabase("INSERT INTO Deposit VALUES(" + IDcurrent[0] + ", datetime('now')," + $amount +")", "", function(insert){
					updateBalance(IDcurrent);
				});
			}
			
			function updateBalance(IDcurrent){
				QueryService.queryDatabase("SELECT Balance AS ID FROM BalanceHistory WHERE ID = " + IDcurrent[0] + " ORDER BY Timestamp DESC LIMIT 1", "ID", function(currentBalance){
					var newBal = currentBalance[0] + $amount;
					insertBalance(IDcurrent, newBal);
				});
			}
			
			function insertBalance(IDcurrent, newBal){
				QueryService.queryDatabase("INSERT INTO BalanceHistory VALUES(" + IDcurrent[0] + ", datetime('now'), " + newBal + ")", "", function(insert){
					myNavigator.pushPage('app.html', { animation : 'fade' } );
				});
			}
		}
		
		$scope.withdraw20 = function(){		
			$scope.inputAmount = [];
			$scope.amount = {'Amount': '20'};
			witAmount = -20.0;
			modal.show();
		}
		
		$scope.withdraw50 = function(){		
			$scope.inputAmount = [];
			$scope.amount = {'Amount': '50'};
			witAmount = -50.0;
			modal.show();
		}
		
		$scope.withdraw100 = function(){	
			$scope.inputAmount = [];		
			$scope.amount = {'Amount': '100'};
			witAmount = -100.0;
			modal.show();
		}
		
		$scope.otherWithdraw = function(){
			if ($scope.inputAmount[0].value){
				witAmount = parseFloat($scope.inputAmount[0].value);
				$scope.amount = {'Amount': String(witAmount)};
				witAmount = witAmount * -1.0;
				$scope.inputAmount = [];
				modal.show();
			}
		}
		
		$scope.withdrawYes = function(){
			withdraw(witAmount);
		}
		
		function withdraw($amount){
			QueryService.queryDatabase("SELECT ID FROM CurrentID WHERE CurrentUser = 0", "ID", function(IDcurrent){
				insertAmount(IDcurrent);
			});		
			
			function insertAmount(IDcurrent){
				QueryService.queryDatabase("INSERT INTO Withdraw VALUES(" + IDcurrent[0] + ", datetime('now')," + $amount +")", "", function(insert){
					updateBalance(IDcurrent);
				});
			}
			
			function updateBalance(IDcurrent){
				QueryService.queryDatabase("SELECT Balance AS ID FROM BalanceHistory WHERE ID = " + IDcurrent[0] + " ORDER BY Timestamp DESC LIMIT 1", "ID", function(currentBalance){
					var newBal = currentBalance[0] + $amount;
					insertBalance(IDcurrent, newBal);
				});
			}
			
			function insertBalance(IDcurrent, newBal){
				QueryService.queryDatabase("INSERT INTO BalanceHistory VALUES(" + IDcurrent[0] + ", datetime('now'), " + newBal + ")", "", function(insert){
					myNavigator.pushPage('app.html', { animation : 'fade' } );
				});
			}		
		}
	});
	
	module.controller('SettingsCtrl', function($scope, QueryService, $timeout){
		$scope.init = function(){
			QueryService.queryDatabase("SELECT ID FROM CurrentID WHERE CurrentUser = 0", "ID", function(IDcurrent){
				obtainEmail(IDcurrent);
			});
			
			function obtainEmail(IDcurrent){
				QueryService.queryDatabase("SELECT Email AS ID FROM Users WHERE ID = " + IDcurrent[0], "ID", function(email){
					$scope.email = email[0];
					obtainUsername(IDcurrent);
				});
			}
			
			function obtainUsername(IDcurrent){
				QueryService.queryDatabase("SELECT Username AS ID FROM Users WHERE ID = " + IDcurrent[0], "ID", function(user){
					$scope.username = user[0];
					obtainThreshold(IDcurrent);
				});
			}
			
			function obtainThreshold(IDcurrent){
				QueryService.queryDatabase("SELECT Threshold AS ID FROM Users WHERE ID = " + IDcurrent[0], "ID", function(thresh){
					$scope.threshold = thresh[0];
					obtainEmailNote(IDcurrent);
				});
			}
			
			function obtainEmailNote(IDcurrent){
				QueryService.queryDatabase("SELECT EmailNotification AS ID FROM Users WHERE ID = " + IDcurrent[0], "ID", function(emailNotification){

					if (emailNotification[0] == 1){
						$scope.emailNote.setChecked(true);
						obtainPushNote(IDcurrent);
					}
					else {
						$scope.emailNote.setChecked(false);
						obtainPushNote(IDcurrent);
					}
				});
			}
			
			function obtainPushNote(IDcurrent){
				QueryService.queryDatabase("SELECT PushNotification AS ID FROM Users WHERE ID = " + IDcurrent[0], "ID", function(pushNotification){
					
					if (pushNotification[0] == 1){
						$scope.pushNote.setChecked(true);
						$scope.$apply();
					}
					else {
						$scope.pushNote.setChecked(false);
						$scope.$apply();
					}
					
				});
			}
			
		};
		
		$scope.save = function(){
			QueryService.queryDatabase("SELECT ID FROM CurrentID WHERE CurrentUser = 0", "ID", function(IDcurrent){
				updateUser(IDcurrent);
			});
			
			function updateUser(IDcurrent){
				QueryService.queryDatabase("UPDATE Users SET Username = '" + $scope.username + "', Email = '" + $scope.email + "', Threshold = " + $scope.threshold + " WHERE ID = " + IDcurrent[0], "", function(update){
					updateEmailNote(IDcurrent);
				});
			}
			
			function updateEmailNote(IDcurrent){
				
				if ($scope.emailNote.isChecked()){
					QueryService.queryDatabase("UPDATE Users SET EmailNotification = 1 WHERE ID = " + IDcurrent[0], "", function(update){
						updatePushNote(IDcurrent);
					});
				}
				else {
					QueryService.queryDatabase("UPDATE Users SET EmailNotification = 0 WHERE ID = " + IDcurrent[0], "", function(update){
						updatePushNote(IDcurrent);
					});
				}
			}

			function updatePushNote(IDcurrent){
				
				if ($scope.pushNote.isChecked()){
					QueryService.queryDatabase("UPDATE Users SET PushNotification = 1 WHERE ID = " + IDcurrent[0], "", function(update){
						checkPin(IDcurrent);
					});
				}
				else {0
					QueryService.queryDatabase("UPDATE Users SET PushNotification = 0 WHERE ID = " + IDcurrent[0], "", function(update){
						checkPin(IDcurrent);
					});
				}
			}

			function checkPin(IDcurrent){
				if (!$scope.oldpin){
					myNavigator.pushPage('app.html', { animation : 'fade' } );
				}
				else {
					QueryService.queryDatabase("SELECT Pin FROM Users WHERE ID = " + IDcurrent[0], "Pin", function(pass){
						if($scope.oldpin != pass[0]){
							alert("Your current pin was not entered correctly.");
						}
						else if(!$scope.newpin){
							alert("Your new pin must contain at least one digit.");
						}
						else {
							if ($scope.newpin != $scope.confirmnewpin){
								alert("Your pin does not match");
							}
							else {
								updatePin(IDcurrent);
							}
						}
					});
				}				
			}
			
			function updatePin(IDcurrent){
				QueryService.queryDatabase("UPDATE Users SET Pin = " + $scope.newpin + " WHERE ID = " + IDcurrent[0], "", function(update){
					$scope.oldpin = "";
					$scope.newpin = "";
					$scope.confirmnewpin = "";
					myNavigator.pushPage('app.html', { animation : 'fade' } );
				});
			}
		}
	});
	
	module.controller('VisualizationCtrl', function($scope, QueryService){
		$scope.pieInit = function(){
			
			QueryService.queryDatabase("SELECT ID FROM CurrentID WHERE CurrentUser = 0", "ID", function(IDcurrent){
				getWithdraws(IDcurrent);
			});
			
			function getWithdraws(IDcurrent){
				QueryService.queryDatabase("SELECT SUM(Balance) AS ID FROM Withdraw WHERE ID = " + IDcurrent[0] + " AND Timestamp BETWEEN date('now', '-30 days') AND datetime('now')" , "ID", function(withdrawSum){
					getDeposits(IDcurrent, withdrawSum);
				});
			}
			
			function getDeposits(IDcurrent, withdrawSum){
				QueryService.queryDatabase("SELECT SUM(Balance) AS ID FROM Deposit WHERE ID = " + IDcurrent[0] + " AND Timestamp BETWEEN date('now', '-30 days') AND datetime('now')" , "ID", function(depositSum){
					generatePie(depositSum[0] * 1.0 / (depositSum[0] + (-1.0 * withdrawSum[0])), withdrawSum[0] * -1.0 / (depositSum[0] + (-1.0 * withdrawSum[0])));
				});
			}

			function generatePie(depositPer, withdrawPer){
			
				// Build the chart
				$('#pieContainer').highcharts({
					chart: {
						plotBackgroundColor: null,
						plotBorderWidth: null,
						plotShadow: false
					},
					title: {
						text: 'Deposits vs. Withdraws'
					},
					subtitle: {
						text: 'Previous 30 Days'
					},
					tooltip: {
						enabled: false
					},
					plotOptions: {
						pie: {
							allowPointSelect: true,
							cursor: 'pointer',
							dataLabels: {
								enabled: true,
								distance: -75,
								format: '<b>{point.name}<br>{point.percentage:.1f}%</b>',
								style: {
									fontWeight: 'bold',
									color: 'white',
									fontSize: '18px',
									textShadow: '0px 1px 2px black'
								}
							}
						}
					},
					series: [{
						type: 'pie',
						data: [
							['Deposits', depositPer],
							{
								name: 'Withdraws',
								y: withdrawPer
							}
						]
					}],
					exporting: {
						enabled: false
					}
				});
			}
		}
		
		$scope.barChartInit = function(){
		
			var DepWit = new Array(20);
			var withdraws = [];
			var deposits = [];
			var dates = [];
			for(var i = 0; i < 20; i++){
				DepWit[i] = new Array(3);
			}	
			
			QueryService.queryDatabase("SELECT ID FROM CurrentID WHERE CurrentUser = 0", "ID", function(IDcurrent){
				queryData(IDcurrent, 19);
			});
			
			function queryData(IDcurrent, day){
				
				QueryService.queryDatabase("SELECT SUM(Balance) AS ID FROM Withdraw WHERE ID = " + IDcurrent[0] + " AND Timestamp BETWEEN date('now', '" + (-19 + day) + " days') AND date('now', '" + (-18 + day) + " days')" , "ID", function(withdrawSum){
				
					if (withdrawSum[0] == null){
						DepWit[day][0] = 0;
					}
					else{
						DepWit[day][0] = withdrawSum[0];
					}
					
					QueryService.queryDatabase("SELECT SUM(Balance) AS ID FROM Deposit WHERE ID = " + IDcurrent[0] + " AND Timestamp BETWEEN date('now', '" + (-19 + day) + " days') AND date('now', '" + (-18 + day) + " days')" , "ID", function(depositSum){
				
						if (depositSum[0] == null){
							DepWit[day][1] = 0;
						}
						else{
							DepWit[day][1] = depositSum[0];
						}
						
						if (day == 0){
							getDates(19);
						}
						else {
							queryData(IDcurrent, day - 1);
						}
						
					});	
				});		
			}
			
			function getDates(day){
				QueryService.queryDatabase("SELECT strftime('%m/%d', date('now', '" + (-19 + day) + " days')) AS ID" , "ID", function(date){
				
					DepWit[day][2] = date;
					if (day == 0){
						extractColumns(0);
					}
					else {
						getDates(day - 1);
					}
				});				
			}
					
			function extractColumns(row){
				if(row == DepWit.length){
					generateBarChart();
				}
				else {
					withdraws.push(DepWit[row][0] * -1.0);
					deposits.push(DepWit[row][1]);
					dates.push(DepWit[row][2]);
					extractColumns(row + 1);
				}
			}
			
			function generateBarChart(){
			
				$('#barChartContainer').highcharts({
					chart: {
						type: 'bar'
					},
					title: {
						text: 'Daily Deposits and Witdraws'
					},
					subtitle: {
						text: 'Previous 20 Days'
					},
					xAxis: {
						categories: dates
					},
					yAxis: {
						min: 0,
						title: {
							text: 'Daily Transaction Amount'
						}
					},
					legend: {
						layout: 'vertical',
						align: 'right',
						verticalAlign: 'top',
						itemStyle: {
							fontSize: '16px'
						},
						x: -10,
						y: 65,
						floating: true,
						borderWidth: 1,
						backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
						shadow: true
					},
					series: [{
						name: 'Deposits',
						data: deposits
					}, {
						name: 'Withdraws',
						data: withdraws
					}],
					exporting: {
						enabled: false
					}
				});
			}
		}

		$scope.heatmapInit = function(){

			var balHistory = new Array(30);
			var heatmapData = new Array(30);
			var dates = [];
			var temp = 29;
			for(var i = 0; i < 30; i++){
				balHistory[i] = new Array(2);
				heatmapData[i] = new Array(3);
			}
			for(var i = 0; i < 6; i++){
				for(var j = 4; j >= 0; j--){
					heatmapData[temp][0] = j;
					heatmapData[temp][1] = i;
					temp--;
				}
			}
		
			QueryService.queryDatabase("SELECT ID FROM CurrentID WHERE CurrentUser = 0", "ID", function(IDcurrent){
				getThreshold(IDcurrent);
			});
			
			function getThreshold(IDcurrent){
				QueryService.queryDatabase("SELECT Threshold AS ID FROM Users WHERE ID = " + IDcurrent[0], "ID", function(threshold){
					getMinBal(IDcurrent, threshold, 29);
				});	
			}
			
			function getMinBal(IDcurrent, threshold, day){
				QueryService.queryDatabase("SELECT MAX(Timestamp) AS T, Balance AS ID FROM BalanceHistory WHERE ID = " + IDcurrent[0] + " AND Timestamp <= date('now', '" + (-29 + day) + " days')" , "ID", function(prevBal){
				
					if (prevBal[0] == null){
						balHistory[day][0] = null;
					}
					else{
						balHistory[day][0] = prevBal[0];
					}
						
					if (day == 0){
						getDates(29, threshold);
					}
					else {
						getMinBal(IDcurrent, threshold, day - 1);
					}
				});		
			}
			
			function getDates(day, threshold){
				QueryService.queryDatabase("SELECT strftime('%m/%d', date('now', '" + (-29 + day) + " days')) AS ID" , "ID", function(date){
				
					balHistory[day][1] = date;
					if (day == 0){
						extractColumns(0, threshold);
					}
					else {
						getDates(day - 1, threshold);
					}
				});				
			}			

			function extractColumns(row, threshold){
				if(row == balHistory.length){
					generateHeatmap(threshold);
				}
				else {
					if (balHistory[row][0] == null) {
						heatmapData[row][2] = null
					}
					else {
						heatmapData[row][2] = (Math.round(balHistory[row][0] * 100) / 100).toFixed(2);
					}
					dates.push(balHistory[row][1]);
					extractColumns(row + 1, threshold);
				}
			}			
			
			function generateHeatmap(threshold){
			
				// Build the chart
				$('#heatmapContainer').highcharts({

					chart: {
						type: 'heatmap',
						marginTop: 40,
						marginBottom: 40
					},
					
					title: {
						text: 'Daily Balance vs. Threshold'
					},

					xAxis: {
						categories: ['Older', '', '', '', 'Newer']
					},

					yAxis: {
						categories: ['', '', '', '', '', ''],
						title: null
					},

					colorAxis: {
						max: threshold,
						min: 0,
						maxColor: '#FFFFFF',
						minColor: Highcharts.getOptions().colors[3],
					},

					legend: {
						align: 'right',
						layout: 'vertical',
						margin: 0,
						verticalAlign: 'top',
						y: 25,
						symbolHeight: 320,
					},

					tooltip: {
						formatter: function () {
							return '<b>Balance: $</b>' + this.point.value + '<br><b>Date:  <b>' + dates[(this.point.y * -5) + 25 + this.point.x] + '</b>';
						}
					},

					series: [{
						name: 'Daily Balance',
						borderWidth: 1,
						data: heatmapData,
						dataLabels: {
							enabled: true,
							color: 'black',
							style: {
								textShadow: 'none',
								HcTextStroke: null
							}
						}
					}],
					exporting: {
						enabled: false
					}

				});
			}
		}
		
		$scope.areaChartInit = function(){

			var balHistory = new Array(30);
			var heatmapData = new Array(30);
			var balance = [];
			var thresholdArray = [];
			var dates = [];
			var temp = 29;
			for(var i = 0; i < 30; i++){
				balHistory[i] = new Array(2);
				heatmapData[i] = new Array(3);
			}
			for(var i = 0; i < 6; i++){
				for(var j = 4; j >= 0; j--){
					heatmapData[temp][0] = j;
					heatmapData[temp][1] = i;
					temp--;
				}
			}
		
			QueryService.queryDatabase("SELECT ID FROM CurrentID WHERE CurrentUser = 0", "ID", function(IDcurrent){
				getThreshold(IDcurrent);
			});
			
			function getThreshold(IDcurrent){
				QueryService.queryDatabase("SELECT Threshold AS ID FROM Users WHERE ID = " + IDcurrent[0], "ID", function(threshold){
					getMinBal(IDcurrent, threshold, 29);
				});	
			}
			
			function getMinBal(IDcurrent, threshold, day){
				QueryService.queryDatabase("SELECT MAX(Timestamp) AS T, Balance AS ID FROM BalanceHistory WHERE ID = " + IDcurrent[0] + " AND Timestamp <= date('now', '" + (-29 + day) + " days')" , "ID", function(prevBal){
				
					if (prevBal[0] == null){
						balHistory[day][0] = null;
					}
					else{
						balHistory[day][0] = prevBal[0];
					}
						
					if (day == 0){
						getDates(29, threshold);
					}
					else {
						getMinBal(IDcurrent, threshold, day - 1);
					}
				});		
			}
			
			function getDates(day, threshold){
				QueryService.queryDatabase("SELECT strftime('%m/%d', date('now', '" + (-29 + day) + " days')) AS ID" , "ID", function(date){
				
					balHistory[day][1] = date;
					if (day == 0){
						extractColumns(0, threshold);
					}
					else {
						getDates(day - 1, threshold);
					}
				});				
			}			

			function extractColumns(row, threshold){
				if(row == balHistory.length){
					generateAreaChart(threshold);
				}
				else {
					if (balHistory[row][0] == null) {
						heatmapData[row][2] = null
					}
					else {
						heatmapData[row][2] = (Math.round(balHistory[row][0] * 100) / 100).toFixed(2);
					}
					dates.push(balHistory[row][1]);
					balance.push(balHistory[row][0]);
					extractColumns(row + 1, threshold);
				}
			}
		
			function generateAreaChart(threshold){
				for(var i = 0; i < balance.length; i++){
					thresholdArray.push(threshold);
				}
				
				
				$('#areaChartContainer').highcharts({
					chart: {
						type: 'area',
						inverted: true
					},
					title: {
						text: 'Balance History vs. Threshold'
					},
					subtitle: {
							text: 'Previous 30 Days'
					},

					legend: {
						layout: 'vertical',
						align: 'right',
						verticalAlign: 'top',
						x: -10,
						y: 65,
						floating: true,
						borderWidth: 1,
						backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
					},
					xAxis: {
						categories: dates
					},
					yAxis: {
						min: 0,
						title: {
							text: 'Daily Transaction Amount'
						}
					},
					plotOptions: {
						area: {
							fillOpacity: 0.5
						}
					},
					series: [{
						name: 'Balance',
						data: balance
					}, {
						name: 'Threshold',
						data: thresholdArray
					}],
					exporting: {
						enabled: false
					}
				});
			}
		}
		
	});
	
	
	
	module.controller('SendFeedback', function($scope, QueryService){

	});
  </script>


  <style>
    .page--menu-page__content {
      background-color: #333;
      color: white;
    }
	
	.page--login__content {
		background-color: #d3d3d3;
	}

    .menu-close,
    .menu-close > .toolbar-button {
      color: #999;
    }

    .menu-list,
    .menu-item:first-child,
    .menu-item:last-child,
    .menu-item {
      background-color: transparent;
      background-image: none !important;
      border-color: transparent;
      color: #fff;
    }

    .menu-item {
      padding: 0 0 0 20px;
      line-height: 52px;
      height: 52px;
      text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px;
    }

    .menu-item:active {
      background-color: rgba(255, 255, 255, 0.1);
    }

    .menu-notification {
      display: inline-block;
      margin-top: 12px;
      font-size: 14px;
      height: 16px;
      line-height: 16px;
      min-width: 16px;
      font-weight: 600;
    }

    .bottom-menu-list,
    .bottom-menu-item:first-child,
    .bottom-menu-item:last-child,
    .bottom-menu-item {
      border-color: #393939;
      background-color: transparent;
      background-image: none !important;
      color: #ccc;
    }

    .bottom-menu-item:active {
      background-color: rgba(255, 255, 255, 0.1);
    }
	
	ons-carousel-item {
	  display: table;
	  text-align: center;
	}
	.item-label {
	  display: table-cell;
	  vertical-align: middle;
	  color: white;
	  line-height: 1;
	  font-size: 48px;
	  font-weight: bold;
	}
	.cover-label {
	  text-align: center;
	  position: absolute;
	  left: 0px;
	  width: 100%;
	  bottom: 10px;
	  color: black;
	}
  </style>
  
</head>

<body> 

<ons-navigator title="Navigator" var="myNavigator" page="login.html">
</ons-navigator>

	<ons-template id="login.html">
		<ons-page modifier="login" style="background-color:#1AAF5D;">
			<ons-col align="center">
				<div ng-controller="loginCtrl">
					<img src="img\icon.png" style="position:relative; width: 50%; margin-top:10%">
					<div style="margin-top:5%;">
						<ons-icon icon="ion-android-social-user"></ons-icon>
						<input type="text" class="text-input" placeholder="Username" ng-model="username" style="padding: 10px;
						  border: solid 3px #fff;
						  box-shadow: inset 3px 3px 6px 0 #707070;
						  transition: box-shadow 0.3s;
						  height: 50px;
						  font-size: 100%;">
					</div>
					<div style="margin-top:2%;">
						<ons-icon icon="ion-pound"></ons-icon>
						<input type="tel"  class="text-input" placeholder="Pin" ng-model="pin" style="padding: 10px;
						  border: solid 3px #fff;
						  box-shadow: inset 3px 3px 6px 0 #707070;
						  transition: box-shadow 0.3s;
						  height:50px;
						  font-size: 100%;">
					</div> 
					<br>
				
					<ons-button modifier="cta" ng-click="validateLogin()">
						Sign In
					</ons-button>
				</div>
			</ons-col>
			<hr style="width:75%;">
			<ons-col align="center">
				<ons-button modifier="" onclick="myNavigator.pushPage('create.html', { animation : 'fade' } )" style="padding-top:10px;">
				Create Account
				</ons-button>
			</ons-col>
		</ons-page>		
	</ons-template>	

	<ons-template id="create.html">
		<ons-page style="background-color:#1AAF5D;">
			<div style="" ng-controller="createCtrl">
				<ons-col align="center">
					<img src="img\icon.png" style="width: 50%; margin-top:10%">
					<div style="margin-top:5%">
						<ons-icon icon="ion-android-social-user"></ons-icon>
						<input type="text" class="text-input" placeholder="Username" ng-model="username" style="padding: 10px;
  					  border: solid 3px #fff;
  					  box-shadow: inset 3px 3px 6px 0 #707070;
  					  transition: box-shadow 0.3s;
  					  height:50px;
  					  font-size: 100%;">
					</div>
					<div style="margin-top:1%">
						<ons-icon icon="ion-email"></ons-icon>
						<input type="text" class="text-input" placeholder="Email" ng-model="email" style="padding: 10px;
  					  border: solid 3px #fff;
  					  box-shadow: inset 3px 3px 6px 0 #707070;
  					  transition: box-shadow 0.3s;
  					  height:50px;
  					  font-size: 100%;">
					</div>  
					<div style="margin-top:1%">
						<ons-icon icon="ion-pound"></ons-icon>
						<input type="tel" class="text-input" placeholder="Pin" ng-model="pin" style="padding: 10px;
  					  border: solid 3px #fff;
  					  box-shadow: inset 3px 3px 6px 0 #707070;
  					  transition: box-shadow 0.3s;
  					  height:50px;
  					  font-size: 100%;">
					</div> 
					<div style="margin-top:1%">
						<ons-icon icon="ion-pound"></ons-icon>
						<input type="tel" class="text-input" placeholder="Confirm Pin" ng-model="confirmpin" style="padding: 10px;
  					  border: solid 3px #fff;
  					  box-shadow: inset 3px 3px 6px 0 #707070;
  					  transition: box-shadow 0.3s;
  					  height:50px;
  					  font-size: 100%;">
					</div> 
					<br>
					<ons-button modifier="" ng-click="createAccount()">Continue
						<!-- <ons-icon icon="ion-chevron-right" size="40px"></ons-icon> -->
					</ons-button>
				</ons-col>
			</div>
		</ons-page>	
	</ons-template>

	<ons-template id="balance.html">
		<ons-page style="background-color:#1AAF5D;">
			<div style="margin-top:6%; margin-left:auto; margin-right:auto; text-align: center; height:320px; width:90%" ng-controller="createCtrl">
				<img src="img\icon.png" style="width: 50%; margin-top:10%">
				<div style="margin-top:10%">
					<ons-icon icon="ion-social-usd-outline"></ons-icon>
					<input style="padding: 10px;
  					  border: solid 3px #fff;
  					  box-shadow: inset 3px 3px 6px 0 #707070;
  					  transition: box-shadow 0.3s;
  					  height:50px;
  					  font-size: 100%;"
  					  type="tel" class="text-input" placeholder="Balance" ng-model="balance">
				</div> 
				<div style="margin-top:1%">
					<ons-icon icon="ion-stats-bars"></ons-icon>
					<input style="padding: 10px;
  					  border: solid 3px #fff;
  					  box-shadow: inset 3px 3px 6px 0 #707070;
  					  transition: box-shadow 0.3s;
  					  height:50px;
  					  font-size: 100%;"
  					  type="tel" class="text-input" placeholder="Threshold" ng-model="threshold">
				</div> 
				<br>
				<ons-button modifier="outline" ng-click="insertAccount()">
					<ons-icon icon="ion-android-add" size="40px"></ons-icon>
				</ons-button>
			</div>
		</ons-page>	
	</ons-template>
	
	<ons-template id="app.html">
		<ons-page>
			<ons-sliding-menu
				menu-page="menu.html" main-page="page0.html" side="left"
				var="menu" type="reveal" max-slide-distance="260px" swipable="true" >
			</ons-sliding-menu>
		</ons-page>
    </ons-template>

	<ons-template id="menu.html">
		<ons-page modifier="menu-page" style="background-color: #333">
			<ons-toolbar modifier="transparent"></ons-toolbar>

			<ons-list class="menu-list">
				<ons-list-item class="menu-item" ng-click="menu.setMainPage('page0.html', {closeMenu: true})">
					<ons-icon icon="ion-home"></ons-icon>
					Home
				</ons-list-item>
				
			<ons-list class="menu-list">
				<ons-list-item class="menu-item" ng-click="menu.setMainPage('page1.html', {closeMenu: true})">
					<ons-icon icon="ion-plus"></ons-icon>
					Deposit
				</ons-list-item>

				<ons-list-item class="menu-item" ng-click="menu.setMainPage('page2.html', {closeMenu: true})">
					<ons-icon icon="ion-minus"></ons-icon>
					Withdraw
				</ons-list-item>

				<ons-list-item class="menu-item" ng-click="menu.setMainPage('page3.html', {closeMenu: true})">
					<ons-icon icon="ion-arrow-graph-up-right"></ons-icon>
					Visualization
				</ons-list-item>
			</ons-list>

		  <br>

			<ons-list class="bottom-menu-list">
				<ons-list-item class="bottom-menu-item" ng-click="menu.setMainPage('page4.html', {closeMenu: true})">
				Settings
				</ons-list-item>

				<ons-list-item class="bottom-menu-item" ng-click="menu.setMainPage('page5.html', {closeMenu: true})">
				About `A
				</ons-list-item>

				<ons-list-item class="bottom-menu-item" ng-click="menu.setMainPage('page6.html', {closeMenu: true})">
				Send feedback
				</ons-list-item>

				<ons-list-item class="bottom-menu-item" ng-click="menu.setMainPage('page7.html', {closeMenu: true})">
				Help
				</ons-list-item>

			</ons-list>
		</ons-page>
	</ons-template>

	<ons-template id="page0.html">
		<ons-page ng-device-backbutton="menu.toggle()" style="background: #1AAF5D">
			<ons-toolbar>
				<div class="left">
				<ons-toolbar-button ng-click="menu.toggle()">
					<ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
				</ons-toolbar-button>
				</div>
				<div class="center">Home</div>
			</ons-toolbar>

			<ons-row style="margin-top: 10px;">
				<ons-col align="center">
					<div style="padding: 8px;  box-shadow: 0px 10px 5px #3e3e3e; background: #D3FECD;" ng-controller="PopulateHomeData" data-ng-init="init()">
						<div>
						<table style="border: 1px solid black">
						<thead style="background-color: #D3FECD">
							<tr>
								<th width="200">Date</th>
								<th width="200">Amount</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="rowContent in rows">
								<td>{{rowContent.Date}}</td>
								<td>{{rowContent.Amount}}</td>
							</tr>
						</tbody>
						</table>   
						</div>
						<div style="font-size: 36px; margin: auto;"><p><b>Balance:  <span ng-style="balColor">${{balance}}</span></b></p></div>
						<div id="container" style="min-width: 100%; height: 225px"></div>
					</div>
				</ons-col>
			</ons-row>

		</ons-page>
	</ons-template>

 

	<ons-template id="page1.html">
		<ons-page id="page1" ng-device-backbutton="menu.toggle()" style="background:#1AAF5D">
			<div>
				<ons-toolbar>
					<div class="left">
					<ons-toolbar-button ng-click="menu.toggle()">
						<ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
					</ons-toolbar-button>
					</div>
					<div class="center">Deposit</div>
				</ons-toolbar>
				
				<div style="padding: 8px; box-shadow: 0px 10px 5px #3e3e3e; background: #D3FECD;" ng-controller="DepWitCtrl" > 

					<ons-modal var="modal">
						<p style="margin-bottom: 50px; font-size: 16px"><b>Are you sure you want to deposit ${{amount.Amount}}?</b></p>
						<ons-button style="margin-right: 30px;" modifier="normal" ng-click="modal.hide(); depositYes();">
							Yes
						</ons-button>
						<ons-button style="" modifier="normal" ng-click="modal.hide()">
							No
						</ons-button>
					</ons-modal>
					
					<ons-row style="margin-top: 60px; ">
						<ons-col align="center">
							<ons-button style="margin-right: 10px; width: 80px; height: 80px;" modifier="" ng-click="deposit20()">
							<p style="font-size: 22px"><b>$20</b></p>
							</ons-button>
							<ons-button style="margin-right: 10px; width: 80px; height: 80px;" modifier="" ng-click="deposit50()">
							<p style="font-size: 22px"><b>$50</b></p>
							</ons-button>
							<ons-button style="width: 80px; height: 80px;" modifier="normal" ng-click="deposit100()">
							<p style="font-size: 22px"><b>$100</b></p>
							</ons-button>
						</ons-col>
					</ons-row>
					<ons-row style="margin-top: 50px; margin-bottom: 30px;">
						<ons-col align="center">
							<ons-button style="width: 60%;" modifier="" ng-click="otherAmount()">
							<p style="font-size: 20px"><b>Other Amount</b></p>
							</ons-button>
							
							<div ng-repeat="input in inputAmount">
							<p style="margin-top: 50px; font-size: 18px"><b>Please enter the amount to deposit.</b></p>
								<div style = "">
	  					  		<input type="tel" ng-model="input.value" style="padding: 10px;
	  					  border: solid 3px #fff;
	  					  box-shadow: inset 3px 3px 6px 0 #707070;
	  					  transition: box-shadow 0.3s;
	  					  height:30px;
	  					  font-size: 100%;"></div>
								<div style = "margin-top: 5px">
									<ons-button modifier="" ng-click="otherDeposit()">
									<p style="font-size: 18px"><b>Deposit</b></p>
									</ons-button>
								</div>
							</div>
						</ons-col>
					</ons-row>

			</ons-page>

	</ons-template>

	<ons-template id="page2.html">
		<ons-page id="page2" ng-device-backbutton="menu.toggle()" style="background:#1AAF5D">
			<ons-toolbar>
				<div class="left">
				<ons-toolbar-button ng-click="menu.toggle()">
					<ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
				</ons-toolbar-button>
				</div>
				<div class="center">Withdraw</div>
			</ons-toolbar>


			<div style="padding: 8px;  box-shadow: 0px 10px 5px #3e3e3e; background: #D3FECD;" ng-controller="DepWitCtrl">

	
				<ons-modal var="modal">
					<p style="margin-bottom: 50px; font-size: 16px"><b>Are you sure you want to withdraw ${{amount.Amount}}?</b></p>
					<ons-button style="margin-right: 30px;" modifier="normal" ng-click="modal.hide(); withdrawYes();">
						Yes
					</ons-button>
					<ons-button style="" modifier="normal" ng-click="modal.hide()">
						No
					</ons-button>
				</ons-modal>
				
				<ons-row style="margin-top: 60px;">
					<ons-col align="center">
						<ons-button style="margin-right: 10px; width: 80px; height: 80px;" modifier="outline" ng-click="withdraw20()">
						<p style="font-size: 22px"><b>$20</b></p>
						</ons-button>
						<ons-button style="margin-right: 10px; width: 80px; height: 80px;" modifier="outline" ng-click="withdraw50()">
						<p style="font-size: 22px"><b>$50</b></p>
						</ons-button>
						<ons-button style="width: 80px; height: 80px;" modifier="outline" ng-click="withdraw100()">
						<p style="font-size: 22px"><b>$100</b></p>
						</ons-button>
					</ons-col>
				</ons-row>
				<ons-row style="margin-top: 50px; margin-bottom: 30px;">
					<ons-col align="center">
						<ons-button style="width: 60%;" modifier="outline" ng-click="otherAmount()">
						<p style="font-size: 20px"><b>Other Amount</b></p>
						</ons-button>
						
						<div ng-repeat="input in inputAmount">
						<p style="margin-top: 50px; font-size: 16px"><b>Please enter the amount to withdraw.</b></p>
							
						<div style = "">
  					  		<input type="tel" ng-model="input.value" style="padding: 10px;
  					  border: solid 3px #fff;
  					  box-shadow: inset 3px 3px 6px 0 #707070;
  					  transition: box-shadow 0.3s;
  					  height:30px;
  					  font-size: 100%;"></div>
							<div style = "margin-top: 5px">
								<ons-button modifier="outline" ng-click="otherWithdraw()">
								<p style="font-size: 18px"><b>Withdraw</b></p>
								</ons-button>
							</div>
						</div>
					</ons-col>
				</ons-row>
			</div>
		</ons-page>
	</ons-template>
	 
	<ons-template id="page3.html">
		<ons-page id="page3" ng-device-backbutton="menu.toggle()" style="background: white">
			<ons-toolbar>
				<div class="left">
				<ons-toolbar-button ng-click="menu.toggle()">
					<ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
				</ons-toolbar-button>
				</div>
				<div class="center">Visualization</div>
			</ons-toolbar>

			<ons-carousel overscrollable auto-scroll fullscreen var="carousel" direction="vertical">
				<ons-carousel-item>
					<div class="item-label" ng-controller="VisualizationCtrl" data-ng-init="pieInit()">
						<div id="pieContainer" style="width: 100%; height: 90%"></div>
					</div>
				</ons-carousel-item>
				<ons-carousel-item>
					<div class="item-label" ng-controller="VisualizationCtrl" data-ng-init="barChartInit()">
						<div id="barChartContainer" style="width: 100%; height: 90%"></div>
					</div>
				</ons-carousel-item>
				<ons-carousel-item>
					<div class="item-label" ng-controller="VisualizationCtrl" data-ng-init="heatmapInit()">
						<div id="heatmapContainer" style="width: 100%; height: 90%"></div>
					</div>
				</ons-carousel-item>
				<ons-carousel-item>
					<div class="item-label" ng-controller="VisualizationCtrl" data-ng-init="areaChartInit()">
						<div id="areaChartContainer" style="width: 100%; height: 90%"></div>
					</div>
				</ons-carousel-item>
				<ons-carousel-cover><div class="cover-label">Swipe up or down</div></ons-carousel-cover>
			</ons-carousel>
		</ons-page>
	 </ons-template>

	<ons-template id="page4.html" >
	<!-- style="background: #1AAF5D; is dark green -->
		<ons-page id="page4" ng-device-backbutton="menu.toggle()" style="background: #1AAF5D;">
			<ons-toolbar>
				<div class="left">
				<ons-toolbar-button ng-click="menu.toggle()">
					<ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
				</ons-toolbar-button>
				</div>

				<div class="center">Settings</div>
			</ons-toolbar>
			<!-- style="background: #1AAF5D; is dark green -->
			<!-- background: #D3FECD; is the light green -->
			<div style="padding: 8px;  box-shadow: 0px 10px 5px #3e3e3e; background: #D3FECD;" ng-controller="SettingsCtrl"> 
			<!-- <div ng-controller="SettingsCtrl">  -->
			<ons-list>
				<div data-ng-init="init()">
				<ons-list-header>Username</ons-list-header>
			
				<ons-list-item>
					<input type="text" ng-model="username" class="text-input text-input--transparent" style="margin-top:8px; width: 100%;">
				</ons-list-item>

				<ons-list-header>Email</ons-list-header>
				
				<ons-list-item>
					<input type="text" ng-model="email" class="text-input text-input--transparent" style="margin-top:8px; width: 100%;">
				</ons-list-item>
				
				<ons-list-header>Threshold</ons-list-header>
				
				<ons-list-item>
					<input type="tel" ng-model="threshold" class="text-input text-input--transparent" style="margin-top:8px; width: 100%;">
				</ons-list-item>

				<ons-list-header>Pin</ons-list-header>

				<ons-list-item>
					<input type="tel" ng-model="oldpin" placeholder="Old Pin" class="text-input text-input--transparent" style="margin-top:8px; width: 100%;">
				</ons-list-item>

				<ons-list-item>
					<input type="tel" ng-model="newpin" placeholder="New Pin" class="text-input text-input--transparent" style="margin-top:8px; width: 100%;">
				</ons-list-item>
				
				<ons-list-item>
					<input type="tel" ng-model="confirmnewpin" placeholder="Confirm New Pin" class="text-input text-input--transparent" style="margin-top:8px; width: 100%;">
				</ons-list-item>
				
				<ons-list-header>Notifications</ons-list-header>

				<ons-list-item>
					<span style="color: #666">Email Notifications</span>
					<ons-switch modifier="list-item" var="emailNote"></ons-switch>
				</ons-list-item>

				<ons-list-item>
					<span style="color: #666">Push Notifications</span>
					<ons-switch modifier="list-item" var="pushNote"></ons-switch>
				</ons-list-item>
				
				</div>
			</ons-list>

			<div class="content-padded">
				<ons-button modifier="large" ng-click="save()">
				Save
				</ons-button>
			</div>
			</div>
		</ons-page>
	</ons-template>

	<ons-template id="page5.html">
		<ons-page id="page5" ng-device-backbutton="menu.toggle()" style="background:#D3FECD">
			<ons-toolbar>
				<div class="left">
				<ons-toolbar-button ng-click="menu.toggle()">
					<ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
				</ons-toolbar-button>
				</div>
				<div class="center">About `A</div>
			</ons-toolbar>
			
			<!-- modal for David -->
			<ons-modal var="modal">
			  <ons-icon icon="ion-loading-c" spin="true"></ons-icon>
			  <br><br>
			  David works as a ___. He likes Papa Johns Pizza.
			</ons-modal>
			<!--  end of modal for David-->
			
			<ons-row style="margin-top: 20px;">
				<p>When we aren't making improvements to this project we are at work.</p>
				<ons-col align="center">
			        <ul class="list">
						<li class="list__header">
							Developers
						</li>
						<li class="list__item">
							David
							<textarea class="textarea textarea--transparent" style="width:100%;height:50px;margin-top:4px;" placeholder="Works in _. Recently found out he likes jalapeños on his pizza."></textarea>
						</li>
						<li class="list__item">
							Angel
							<textarea class="textarea textarea--transparent" style="width:100%;height:50px;margin-top:4px;" placeholder="Works in the big data realm. Recently introduced David to the wonders of jalapeños on pizza."></textarea>
						</li>
					</ul>
			        <ul class="list">
						<li class="list__header">
							Documenters
						</li>
						<li class="list__item">
							Anthony
							<textarea class="textarea textarea--transparent" style="width:100%;height:50px;margin-top:4px;" placeholder="Works in _. Recently _."></textarea>
						</li>
						<li class="list__item">
							Matias
							<textarea class="textarea textarea--transparent" style="width:100%;height:50px;margin-top:4px;" placeholder="Makes dreams come true when he goes to work. Recently _."></textarea>

						</li>
					</ul>
					<ul class="list">
						<li class="list__header">
							Tester
						</li>
						<li class="list__item">
							Matt
							<textarea class="textarea textarea--transparent" style="width:100%;height:50px;margin-top:4px;" placeholder="Works in the computer lab. Recently _."></textarea>
						</li>

					</ul>

				</ons-col>
			</ons-row>
		</ons-page>
	</ons-template>

	<ons-template id="page6.html">
		<ons-page id="page6" ng-device-backbutton="menu.toggle()" style="background: #1AAF5D;">
			<ons-toolbar>
				<div class="left">
				<ons-toolbar-button ng-click="menu.toggle()">
					<ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
				</ons-toolbar-button>
				</div>
				<div class="center">Send Feedback</div>
			</ons-toolbar>

			<div style="padding: 8px;  box-shadow: 0px 10px 5px #3e3e3e; background: #D3FECD;" ng-controller="SendFeedback"> 
				<ons-list style="transition: box-shadow 0.3s;">
					<ons-list-header>Feedback Type</ons-list-header>
			
					<ons-list-item>
						<div style="margin-left: 15px;">
							<label class="radio-button">
							<input type="radio" name="type" ng-model="feedbackType">
							<div class="radio-button__checkmark"></div>
							Comment
							</label>
						</div>
					</ons-list-item>
					
					<ons-list-item>	
						<div style="margin-left: 15px;">
							<label class="radio-button">
							<input type="radio" name="type" ng-model="feedbackType">
							<div class="radio-button__checkmark"></div>
							Bug
							</label>
						</div>
					</ons-list-item>
				
					<ons-list-header>Description</ons-list-header>
					
					<ons-list-item>
						<section style="padding: 8px">
							<input type="text" ng-model="subject" class="text-input" placeholder="Subject" style="display: block; width: 100%;">
						</section>
						
						<section style="padding: 0 8px 8px">
							<textarea class="textarea" ng-model="description" placeholder="Type Description Here" style="width: 100%; height: 250px;"></textarea>
						</section>
					</ons-list-item>
					
				</ons-list>
							<div class="content-padded">
				<ons-button modifier="large" ng-click="send()">
				Send
				</ons-button>
			</div>



		</ons-page>
	</ons-template>

	<ons-template id="page7.html">
		<ons-page id="page7" ng-device-backbutton="menu.toggle()" style="background: #1AAF5D;">

		<meta name="viewport" content="width=device-width, user-scalable=no">
		<iframe width="100%" height="215" src="http://www.youtube.com/embed/SuwX9ei_woo?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
		</ons-page>
	</ons-template>

</body>
</html>
